# Exercise
Use iris flower dataset from sklearn library and use cross_val_score against following models to measure the performance of each. In the end figure out the model with best performance,
Logistic Regression
SVM
Decision Tree
Random Forest

In [3]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()

In [9]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
df['target_names'] = df.target.apply(lambda x: iris.target_names[x])

In [75]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [12]:
X = df.drop(['target', 'target_names'], axis=1)
y = df['target']

In [37]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [62]:
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=100, random_state=42)
scores = cross_val_score(clf, X, y, cv=10)
#scores1 = cross_val_score(LogisticRegression(), X, y, cv=5)
scores2 = cross_val_score(SVC(), X, y, cv=10)
scores3 = cross_val_score(DecisionTreeClassifier(), X, y, cv=10)# 5-fold cross-validation

In [63]:
np.average(scores)

0.96

In [66]:
np.average(scores2)

0.9733333333333334

In [68]:
np.average(scores3)

0.96

In [72]:
scores1 = cross_val_score(LogisticRegression(max_iter=1000), X, y, cv=10)
np.average(scores1)

0.9733333333333334

## Logistic regression and SVC perform well